<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :finance_id%><br>
    <%= f.number_field :finance_id%>
  </div>
  <div class="field">
    <%= f.label :quote_id%><br>
    <%= f.collection_select :quote_id, Quote.all, :id, :full_quote%>
  </div>
  <div class="field">
    <%= f.label :report_id %><br>
    <%= f.number_field :report_id %>
  </div>
  <div class="field">
    <%= f.label :payment_type %><br>
    <%= f.select :payment_type, options_for_select(payment_choices),{}, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>
  <div class="field">
    <%= f.label :period %><br>
    <%= f.select :period, options_for_select(period_num),{}, class: 'form-control'  %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
