<p id="notice"><%= notice %></p>

<h1>Finances</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Quote</th>
      <th>Report</th>
      <th>Payment type</th>
      <th>Interest</th>
      <th>Period</th>
      <th>Length</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @finances.each do |finance| %>
      <tr>
        <td><%= finance.id %></td>
        <td><%= finance.quote_id %></td>
        <td><%= finance.report_id %></td>
        <td><%= finance.payment_type %></td>
        <td><%= finance.interest %></td>
        <td><%= finance.period %></td>
        <td><%= finance.length %></td>
        <td><%= link_to 'Show', finance %></td>
        <td><%= link_to 'Edit', edit_finance_path(finance) %></td>
        <td><%= link_to 'Destroy', finance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Finance', new_finance_path %>
