<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @finance.quote_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= @finance.report_id %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @finance.payment_type %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @finance.interest %>
</p>

<p>
  <strong>Period:</strong>
  <%= @finance.period %>
</p>

<p>
  <strong>Length:</strong>
  <%= @finance.length %>
</p>

<%= link_to 'Edit', edit_finance_path(@finance) %> |
<%= link_to 'Back', finances_path %>
