<p id="notice"><%= notice %></p>

<p>
  <strong>Car:</strong>
  <%= @quote.car_id %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @quote.salesperson_id %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer_id %>
</p>

<p>
  <strong>Sales tax:</strong>
  <%= @quote.sales_tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @quote.total %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
