<%= form_for(@salesperson) do |f| %>
  <% if @salesperson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesperson.errors.count, "error") %> prohibited this salesperson from being saved:</h2>

      <ul>
      <% @salesperson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sales_managers_id, 'Sales Manager' %><br>
    <%= f.collection_select :sales_manager_id, SalesManager.all, :id, :full_name%>
  </div>
  <div class="field">
    <%= f.label :fname, 'First Name' %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname, 'Last Name' %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
