<p id="notice"><%= notice %></p>

<h1>Listing Salespeople</h1>

<table>
  <thead>
    <tr>
      <th>Sales Manager</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salespeople.each do |salesperson| %>
      <tr>
        <td><%= salesperson.sales_manager.full_name %></td>
        <td><%= salesperson.fname %></td>
        <td><%= salesperson.lname %></td>
        <td><%= salesperson.phone %></td>
        <td><%= link_to 'Show', salesperson %></td>
        <td><%= link_to 'Edit', edit_salesperson_path(salesperson) %></td>
        <td><%= link_to 'Destroy', salesperson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Salesperson', new_salesperson_path %>
