<p id="notice"><%= notice %></p>

<p>
  <strong>Sales Manager:</strong>
  <%= @salesperson.sales_manager_id %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @salesperson.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @salesperson.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @salesperson.phone %>
</p>

<%= link_to 'Edit', edit_salesperson_path(@salesperson) %> |
<%= link_to 'Back', salespeople_path %>
