<p id="notice"><%= notice %></p>

<p>
  <strong>Sales manager:</strong>
  <%= @sales_manager.sales_manager_id %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @sales_manager.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @sales_manager.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @sales_manager.phone %>
</p>

<%= link_to 'Edit', edit_sales_manager_path(@sales_manager) %> |
<%= link_to 'Back', sales_managers_path %>
