<p id="notice"><%= notice %></p>

<h1>Customer List</h1>

<table>
  <thead>
    <tr>
      <th>Fist Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Customer Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fname.upcase %></td>
        <td><%= customer.lname.upcase %></td>
        <td><%= number_to_phone(customer.phone,area_code: true) %></td>
        <td><%= customer.address.upcase %></td>
        <td><%= customer.city.upcase %></td>
        <td><%= customer.state.upcase %></td>
        <td><%= customer.customer_type.name.upcase %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
