<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @customer.lname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Customer Type:</strong>
  <%= @customer.customer_type.name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
