body
{
    background-color: #000000;
    color: white;
    font-family: Verdana, Geneva, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

}

a:link
{

    background-color: grey;
    color: black;
}
a:visited
{

    background-color: black;
    color: white;
}
a:active
{

    background-color: grey;
    color: purple;
}
a:hover
{

    background-color: grey;
    color: white;
}

#wrapper
{
    width: 1200px;
    margin: auto;
    padding-bottom: 20px;
    background-color: grey;
    color: white;

    -moz-border-radius: 50px
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;

}


#navigation
{

    background: #E65C00;
    height: 80px;
    color: white;

}

#nav
{
    color: #ffffff;
    display: block;
    list-style: none;
    text-align: center;


}

#nav ul
{
    display: none;
    list-style: none;
    background: black;
    color: blue;
}

#nav li
{
    color: white;
    background: black;
    text-align: center;
    float: left;
    margin-top: 20px;
    text-transform: uppercase;

    padding: 10px 60px 10px 60px;
    border: 2px solid #ffffff;

}

#nav a:link, #nav a :visited, #nav a:active
{

    background-color: black;
    color: white;
}

#nav a:hover
{
    background-color: black;
    color: #E65C00;
}
#content
{
    padding: 20px;
    min-height: 600px;
}