<p id="notice"><%= notice %></p>

<h1>Inventory</h1>

<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Vin</th>
      <th>Color</th>
      <th>Year</th>
      <th>Msrp</th>
      <th>Markup</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make.upcase %></td>
        <td><%= car.model.upcase %></td>
        <td><%= car.vin.upcase %></td>
        <td><%= car.color.upcase %></td>
        <td><%= car.year %></td>
        <td><%= number_to_currency(car.msrp) %></td>
        <td><%= number_to_currency(car.markup) %></td>
        <td><%= link_to 'Show', car %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
        <td><%= link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Car', new_car_path %>
