<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_gross_rev %><br>
    <%= f.text_field :total_gross_rev %>
  </div>
  <div class="field">
    <%= f.label :net_profit %><br>
    <%= f.text_field :net_profit %>
  </div>
  <div class="field">
    <%= f.label :sale_tax_total %><br>
    <%= f.text_field :sale_tax_total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
