<p id="notice"><%= notice %></p>

<p>
  <strong>Total gross rev:</strong>
  <%= @report.total_gross_rev %>
</p>

<p>
  <strong>Net profit:</strong>
  <%= @report.net_profit %>
</p>

<p>
  <strong>Sale tax total:</strong>
  <%= @report.sale_tax_total %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
