<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <div id="wrapper">
    <div id="banner">

    </div>
    <div id="navigation">
      <ul id="nav">
        <li><%= link_to "Customer", customers_path%></li>
        <li><%= link_to "Inventory", cars_path%></li>
        <li><%= link_to "Quote", quotes_path%></li>
        <li><%= link_to "Finance", finances_path%></li>
        <li><%= link_to "Reports", reports_path%></li>
        <li><%= link_to "Sales", salespeople_path%></li>
      </ul>
    </div>
    <div id ="content">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
